<div fxLayout="row" fxLayoutAlign="center stretch" class="relation-container">
  <div fxFlex.xs="90%" fxFlex.sm="80%" fxFlex.md="70%" fxFlex.lg="65%" fxFlex.xl="60%">
    <h2>Relation</h2>
    <app-relation-form [relation]="relation$ | async"
                      (relationChange)="onRelationChange($event)"
                      [showErrors]="showErrors"></app-relation-form>
    <div class="actions" fxLayout="row" fxLayoutAlign="end center">
      <button mat-button color="secondary" routerLink="/relations">Cancel</button>
      <button mat-raised-button color="primary" (click)="onSave()">Save</button>
    </div>
  </div>
</div>
