<mat-card>
  <mat-card-content>
    <mat-table #table [dataSource]="valutas">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Naam</mat-header-cell>
        <mat-cell *matCellDef="let valuta">{{valuta.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef>Inkoop prijs</mat-header-cell>
        <mat-cell *matCellDef="let valuta">{{valuta.price}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let valuta" fxLayout="row" fxLayoutAlign="end center">
          <div class="button-row">
            <button mat-button color="primary">View</button>
            <button mat-button color="accent" (click)="onEditValuta(valuta)">Edit</button>
            <button mat-button color="warn" (click)="onDeleteValuta(valuta)">Delete</button>
          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let valuta; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
