@import '~@angular/material/theming';

mat-row:hover {
  background-color: mat-color($mat-grey, 200);
  cursor: pointer;
}

.mat-column-actions {

}

.button-row button,
.button-row a {
  margin-right: 8px;
  min-width: 0px;
}
